#content-area {
    overflow: auto;
    width: 100%;
    min-height: 100vh;
}

#filter {
    background: $offWhite;
    width: 30%;
    display: inline-block;
    float: left;
    max-width: 300px;
    
    .inside {
        padding: 20px;
        max-width: 300px;
    }
    
    h4 {
        margin-bottom: 25px;
        font-weight: 500px;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    
    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #1B1B1B;
        display: block;
        margin-bottom: 25px;
        width: 100%;
    }
    
    .filters {
        .title {
            font-size: 0.9rem;
            display: block;
            margin-bottom: 1rem;
            color: $darkGray;
        }
        
        input[type="text"] {
            border: none;
            border: 1px solid $lightGray;
            // border-radius: 5px;
            font-size: 1rem;
            padding: 0.4rem;
            display: inline-block;
            width: 45%;
            margin-right: 2.5%;
            margin-bottom: 1rem;
        }
        
        &.extras {
            label {
                display: block;
                width: 100%;
                padding: 10px 0;
                
                input[type="checkbox"] {
                    float: right;
                }
            }
        }
    }
}

#listings {
    background: white;
    display: inline-block;
    width: 70%;
    float: left;
    padding: 15px;
    
    .search-area {
        input[type="text"] {
            border: none;
            border-bottom: 2px solid $darkGray;
            color: $lightGray;
            width: 70%;
            background: transparent;
            font-size: 2rem;
            margin-bottom: 20px;
            outline: none;
            font-weight: 100;
        }
    }
    
    .sortby-area {
        margin-bottom: 20px;
        
        .results {
            color: $darkGray;
            display: inline-block;
            font-size: 0.8rem;
        }
        
        .sort-options {
            float: right;
            
            select {
                font-size: 0.9rem;
                font-weight: 300;
                border: 1px solid $lightGray;
                background: transparent;
                //padding: 20px;
                display: inline-block;
                margin-right: 15px;
                outline: none;
                vertical-align: top;
            }
            
            .view {
                display: inline-block;
                
                .fa {
                    font-size: 1.5rem;
                    margin-right: 15px;
                }
            }
        }
    }
    
    .listings-results {
        margin-bottom: 60px;
        
        .listing {
            background: white;
            border-radius: 5px;
            box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
            margin-bottom: 20px;
        }
        
        .listing-img {
            position: relative;
            color: white;
            padding: 15px;
            background: url("http://cdn.freshome.com/wp-content/uploads/2014/04/Gorgeous-evening-view-of-Russet-Residence--1025x450.jpg") no-repeat center center;
            background-size: cover;
            min-height: 200px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all .6s ease-in-out;
            
            &:hover {
                .details {
                    opacity: 1;
                }
                .address {
                    opacity: 0;
                    transition: all .6s ease-in-out;
                }
            }
            
            .address {
                font-size: 1.3rem;
                text-transform: capitalize;
                position: absolute;
                bottom: 20px;
                opacity: 1;
                text-shadow: 0 1px 4px rgba(91, 91, 91, 1);
            }
        }
        
        .details {
            transition: all .6s ease-in-out;
            opacity: 0;
            // padding: 30px;
            padding: 10px;
            background: rgba(78, 2, 229, 0.8);
            background: linear-gradient(135deg, rgba(78, 2, 229, 0.8) 0%, rgba(157, 28, 237, 0.8) 100%);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            
            .user-img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 2px solid white;
                display: inline-block;
                background: url("http://cdn.freshome.com/wp-content/uploads/2014/04/Gorgeous-evening-view-of-Russet-Residence--1025x450.jpg") no-repeat center center;
                background-size: cover;
            }
            
            .user-details {
                display: inline-block;
                vertical-align: top;
                
                .user-name {
                    font-size: 0.9rem;
                    font-weight: 300;
                    display: block;
                    color: rgba(255, 255, 255, 1);
                    margin-top: 3px;
                    margin-bottom: 5px;
                }
                
                .post-date {
                    display: block;
                    color: rgba(255, 255, 255, 0.7); 
                    font-size: 0.9rem;
                }
            }
            
            .listing-details {
                margin-top: 20px;
                margin-bottom: 10px;
                
                .fa {
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 15px;
                }
                
                span {
                    font-weight: 300;
                    font-size: 0.8rem;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    top: 3px;
                }
                
                .floor-space {
                    margin-bottom: 10px;
                }
            }
        }
        .bottom-info {
            padding: 20px 15px;
            
            .price {
                font-size: 1rem;
                display: block;
                margin-bottom: 10px;
                color: $darkGray;
            }
            
            .location {
                display: block;
                font-size: 1.2rem;
                COLOR: $lightGray;
            }
        }
    }
}

.view-btn {
    background: black;
    padding: 8px;
    font-sze: 0.9rem;
    border-radius: 5px;
    text-align: center;
    max-width: 150px;
    transition: background .3s ease-in-out;
    &:hover {
        cursor: pointer;
        background: $pink;
    }
}

#pagination {
    width: 100%;
    display: block;
    text-align: center;
    .pages {
        background: white;
        box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
        display: inline-block;
        
        li {
            padding: 20px 30px;
            display: inline-block;
            &:hover,
            &.active {
                background: $pink;
                color: white;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}

/*
.col-md-3 {
    // width: 33.33%;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}

.col-md-9 {
    // width: 66.66%;
    width: 75%;
    display: inline-block;
}

.col-lg-6 {
    // width: 33.33%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}
*/